.container {
  $activeColor: #1890ff;
  $hoverColor: #f1f1f1;
  min-height: 100%;
  overflow: hidden;

  .wrapper {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    &:hover {
      cursor: pointer;
    }

    .disabled {
      pointer-events: none;
    }
  }
}
