.lib {
  max-height: calc(100vh - 130px);
  overflow: auto;
  .card {
    box-shadow: none;

    .grid {
      padding: 16px 0;
      &:hover {
        cursor: pointer;
      }
    }
    .title {
      font-weight: bolder;
    }
  }
}
